@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@300;400&display=swap');
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maitree', serif;
}

.fondo {
    background-image: url("../img/bar4.png");
    height: 30vh;
}

.carousel {
    width:320px;
    height:240px;
  }

  /* .card.text-white.bg-dark.h-100 {
    transition: opacity 0.3s;
    opacity: 0.8;
  }

  .card.text-white.bg-dark.h-100:hover {
    opacity: 1;
  } */
/* 
  #c1, #c2, #c3 {
    transition: opacity 0.3s;
    opacity: 0.8;
  }
  
  #c1:hover, #c2:hover, #c3:hover {
    opacity: 1;
  } */