@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@300;400&display=swap');
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maitree', serif;
}

.fondo {
    background-image: url("../img/bar4.png");
    height: 30vh;
}

.carousel {
    width:320px;
    height:240px;
  }

